.home-container {
  padding-bottom: 5rem;
  background-color: #e5d0e3;
  background-color: #636f49;

  .section {
    padding: 10rem;
    padding-top: 5rem;
    background-color: #636f49;
  }
  h1 {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 3rem;
  }

  .sub-display {
    border-radius: 1rem;
    background-color: #b1b6a5;

    margin: 0 5rem;
    margin-top: -5rem;
    padding-bottom: 2rem;
    .sub-section {
      padding: 2rem;
      font-size: 2rem;
    }
  }
}
