.home-container {
  padding: 0 5rem;
  color: var(--primary-color);
  margin-bottom: 5rem;
  .section {
    margin: 10rem;
  }
  h1 {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 3rem;
  }

  .sub-section {
    font-size: 2rem;
  }
}
