.page-block {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  position: relative;
  padding: 8rem 20vw 8rem;
  color: var(--primary-color);

  &.primary {
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 94px;
  }

  .wave-top .shape-fill {
    fill: var(--background-color);
  }

  .wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave-bottom svg {
    position: relative;
    display: block;
    width: calc(186% + 1.3px);
    height: 77px;
  }

  .wave-bottom .shape-fill {
    fill: var(--background-color);
  }
}
