.resume-container {
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  pdf-viewer {
    display: block;
    width: 50%;
    height: 80vh;

    @media (max-width: 768px) {
      width: 100%;
      height: 60vh;
    }
  }

  .btn {
    width: 10rem;
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}
