.portfolio-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .nav-button {
    background: rgb(116, 165, 127);
    border: none;
    color: black;
    cursor: pointer;
    font: inherit;
    padding: 1rem;
  }

  .nav-button:hover {
    color: white;
    background-color: rgb(37, 41, 28);
  }

  .nav-button:focus {
    outline: 2px solid blue;
    outline-offset: 2px;
  }
}
.portfolio-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;

  .title-header {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .description {
      font-size: 2rem;
      font-weight: 100;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .info-container {
    // margin: 2rem;
    flex: 1 1 0px;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
  }

  .stack-container {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    .tech-tag {
      font-size: 1rem;
      padding: 0.5rem;
      background: rgb(116, 165, 127);
      border-radius: 2rem;
    }
    // background-color: grey;
    // width: 100vw;
    // box-shadow: -1em 0 0.4em rgba(0, 0, 0, 0.1);
  }

  .feature-container {
    display: flex;
    flex: 1 1 0px;
    flex-wrap: wrap;
    gap: 2rem;
    .feature-card {
      display: flex;
      width: 45%;
      border-radius: 2rem;
      padding: 1rem;
      border: 1px solid black;
    }
    .feature-img {
      min-width: 70%;
      height: 20rem;
      object-fit: contain;
    }
  }
}
