<div class="portfolio-nav">
  @for (project of projects; track $index) {
  <button class="nav-button" (click)="goToProject(project.url)">
    {{ project.label }}
  </button>
  }
</div>
@if (selectedProduct) {
<div class="portfolio-container">
  <div class="title-header">
    <div>
      <div class="title">{{ selectedProduct.title }}</div>
      <div class="description">{{ selectedProduct.subtitle }}</div>
    </div>
    <!-- <img [src]="/public/images/goldmine-logo-icon.png" /> logo -->
    <img src="/images/goldmine-logo-icon.png" alt="product-logo" />
  </div>

  <div class="info-container">
    <div>
      <h1>Problem:</h1>
      <div>
        {{ selectedProduct.problem }}
      </div>
    </div>

    <div>
      <h1>Solution:</h1>
      <div>
        {{ selectedProduct.solution }}
      </div>
    </div>
  </div>

  <h2>Tech Stack:</h2>
  <div class="stack-container">
    @for (tech of selectedProduct.techStack; track $index) {

    <div class="tech-tag">{{ tech }}</div>
    }
  </div>

  <h2>Features:</h2>
  <div class="feature-container">
    @for (feature of selectedProduct.features; track $index) {

    <div class="feature-card">
      <div>
        {{ feature.title }}
      </div>
      <div>
        {{ feature.description }}
      </div>
    </div>
    }
  </div>

  <!-- can base off dev badge -->
  <!-- <div>roles: dev</div> -->

  <div>
    <h2>My Contribution:</h2>
    <div>
      {{ selectedProduct.contribution }}
    </div>
  </div>
  <h2>Results:</h2>
  <div>
    {{ selectedProduct.result }}
  </div>
</div>
}
