.portfolio-nav {
  // width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  position: static;
  background-color: #636f49;

  .nav-button {
    padding-right: 3rem;
    color: #071322;

    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    border-bottom: 2px solid #071322;

    &:hover {
      color: #b1b6a5;

      border-bottom: 2px solid #b1b6a5;
    }
    &.active {
      color: #b1b6a5;
      border-bottom: 2px solid #b1b6a5;
    }
  }
}
.portfolio-container {
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  background-color: #636f49;
  padding-bottom: 2rem;

  .title-header {
    border: 1px solid black;
    background-color: #b1b6a5;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .description {
      font-size: 2rem;
      font-weight: 100;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .header-icon {
      width: 20%;
    }
  }
  h1 {
    font-size: 3rem;
    text-decoration: underline;
  }

  .info-container {
    flex: 1 1;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
  }

  .stack-container {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    .tech-tag {
      font-size: 1.5rem;
      padding: 0.5rem;
      background: #b1b6a5;

      border-radius: 2rem;
    }
  }

  .feature-container {
    display: flex;
    flex: 1 1 0px;
    flex-wrap: wrap;
    gap: 2rem;
    h3 {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }

    .feature-card {
      display: flex;
      background-color: #b1b6a5;
      width: 45%;
      border-radius: 2rem;
      padding: 1rem;
      border: 1px solid black;
      font-size: 1.25rem;
    }
    .feature-img {
      min-width: 60%;
      height: 20rem;
      object-fit: contain;
    }
  }

  .results-list {
    font-size: 1.5rem;
  }
}
