.portfolio-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;

  .title-header {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .description {
      font-size: 2rem;
      font-weight: 100;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .info-container {
    margin: 2rem;
    flex: 1 1 0px;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
  }

  .stack-container {
    font-size: 2rem;
    background-color: grey;
    // width: 100vw;
    // box-shadow: -1em 0 0.4em rgba(0, 0, 0, 0.1);
  }

  .feature-container {
    display: flex;
    flex: 1 1 0px;
    flex-wrap: wrap;
    gap: 2rem;
    .feature-card {
      width: 40%;
      height: 40%;
      padding: 1rem;
      border: 1px solid black;
    }
  }
}
