<div class="portfolio-container">
  <div class="title-header">
    <div>
      <div class="title">Goldmine</div>
      <div class="description">goldmine is a seller support application</div>
    </div>
    <!-- <img [src]="/public/images/goldmine-logo-icon.png" /> logo -->
    <img src="/images/goldmine-logo-icon.png" alt="product-logo" />
  </div>

  <div class="info-container">
    <div>
      <h1>Problem:</h1>
      <div>
        When IBM sellers are building contact lists on Linkedin Sales Navigator
        (LISN) there are multiple filters and options but have no way to know
        what filters give them a targeted list for their product without
        experience.
      </div>
    </div>

    <div>
      <h1>Solution:</h1>
      <div>
        Goldmine aids sellers by providing tested filters made by experts in
        their brands to create a focused list of clients who are most likely to
        be interested in the specific product. it then helps further by
        increases your connection rate in that list by using proven message
        frameworks for different scenarios including first touch, follow-up and
        more.
      </div>
    </div>
  </div>

  <div class="stack-container">
    Tech Stack:
    <div>Angular.js, Node.js, Nest.js, MongoDB</div>
  </div>

  Features:
  <div class="feature-container">
    <div *ngFor="let feature of features" class="feature-card">
      <div>
        {{ feature.title }}
      </div>
      <div>
        {{ feature.description }}
      </div>
    </div>
  </div>

  <!-- can base off dev badge -->
  <div>roles: dev</div>

  <div>what i did</div>
  <div>what results it achieved</div>
</div>
