.portfolio-nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  margin: 2rem 1rem;
  position: static;

  .nav-button {
    padding-right: 3rem;
    color: #666;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid grey;

    &:hover {
      color: #007bff;
      border-bottom: 2px solid #007bff;
    }
    &.active {
      color: #007bff;
      border-bottom: 2px solid #007bff;
    }
  }
}
.portfolio-container {
  padding: 0 5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;

  .title-header {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .description {
      font-size: 2rem;
      font-weight: 100;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .header-icon {
      width: 20%;
    }
  }

  .info-container {
    flex: 1 1 0px;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
  }

  .stack-container {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    .tech-tag {
      font-size: 1rem;
      padding: 0.5rem;
      background: rgb(116, 165, 127);
      border-radius: 2rem;
    }
  }

  .feature-container {
    display: flex;
    flex: 1 1 0px;
    flex-wrap: wrap;
    gap: 2rem;
    .feature-card {
      display: flex;
      width: 45%;
      border-radius: 2rem;
      padding: 1rem;
      border: 1px solid black;
    }
    .feature-img {
      min-width: 70%;
      height: 20rem;
      object-fit: contain;
    }
  }
}
