.portfolio-nav {
  width: 100%;
  display: flex;
  align-items: center;

  margin: 2rem 0rem;
  position: static;

  .nav-button {
    padding-right: 3rem;
    color: #666;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid grey;

    &:hover {
      color: #007bff;
      border-bottom: 2px solid #007bff;
    }
    &.active {
      color: #007bff;
      border-bottom: 2px solid #007bff;
    }
  }
}
.portfolio-container {
  display: flex;
  flex-direction: column;

  .title-header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 5rem;
      font-weight: 300;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 2rem;
    }
    .description {
      font-size: 2rem;
      font-weight: 100;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .header-icon {
      width: 40%;
    }
  }

  .problem-container {
    flex: 1 1 0px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .problem-display {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 2rem;
      :last-child {
        font-size: 1.5em;
        padding-left: 2rem;
        border-left: 2px solid var(--background-color);
      }
    }
  }

  .info-container {
    flex: 1 1 0px;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
  }

  .stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 3rem;
    }
    .stack-display {
      font-size: 2rem;
      width: 50%;

      .tech-tag {
        display: flex;
        justify-content: center;
        position: relative;
        border-left: 2px solid var(--primary-color);
        border-right: 2px solid var(--primary-color);
        padding: 1rem 1rem;
        margin-bottom: 5px;
        width: 100%;
        &::after {
          content: "";
          position: absolute;
          margin: auto;
          right: 0;
          bottom: 0;
          left: 0;
          width: 75%;
          height: 1px;
          background-color: #000;
        }
      }
    }
  }

  .feature-container {
    display: flex;
    flex: 1 1 0px;
    flex-wrap: wrap;
    gap: 2rem;
    .feature-card {
      display: flex;
      width: 45%;
      border-radius: 2rem;
      padding: 1rem;
      border: 1px solid black;
    }
    .feature-img {
      min-width: 70%;
      height: 20rem;
      object-fit: contain;
    }
  }
}
