.portfolio-container {
  margin: 1rem;

  .title-header {
    margin: 2rem;
    .title {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .description {
      font-size: 2rem;
      font-weight: 100;
      line-height: 3.125rem;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
