@if (selectedProduct) {
  <app-tabs
    [tabs]="tabs"
    [selectedTab]="activeSection"
    (sectionSelected)="scrollToSection($event)"
  />
  <div class="portfolio-container">
    <app-section-block [id]="tabs[0]">
      <div class="title-header">
        <div>
          <div class="title">{{ selectedProduct.title }}</div>
          <div class="description">{{ selectedProduct.subtitle }}</div>
        </div>
        <img
          class="header-icon"
          [src]="selectedProduct.icon"
          alt="product-logo"
        />
      </div>
    </app-section-block>

    <app-section-block [id]="tabs[1]" type="primary">
      <div class="problem-container">
        <div class="problem-display">
          <h1>Problem:</h1>
          <div>
            {{ selectedProduct.problem }}
          </div>
        </div>

        <div class="problem-display">
          <h1>Solution:</h1>
          <div>
            {{ selectedProduct.solution }}
          </div>
        </div>
      </div>
    </app-section-block>

    <app-section-block [id]="tabs[2]">
      <div class="stack-container">
        <h2>Tech Stack</h2>
        <div class="stack-display">
          @for (tech of selectedProduct.techStack; track $index) {
            <div class="tech-tag">{{ tech }}</div>
          }
        </div>
      </div>
    </app-section-block>

    <app-section-block [id]="tabs[3]" type="primary">
      <div class="feature-container">
        <h2>Features</h2>
        @for (feature of selectedProduct.features; track $index) {
          <div class="feature-card">
            <div>
              <h3>
                {{ feature.title }}
              </h3>
              <div>
                {{ feature.description }}
              </div>
            </div>
            <div class="img-container">
              <img
                class="feature-img"
                [src]="feature.src ?? selectedProduct.icon"
                alt="product-logo"
              />
            </div>
          </div>
        }
      </div>
    </app-section-block>

    <app-section-block [id]="tabs[4]">
      <div class="feature-container">
        <h2>My Contribution:</h2>
        @for (feature of selectedProduct.contribution; track $index) {
          <div class="feature-card">
            <div>
              <h3>
                {{ feature.title }}
              </h3>
              <ul>
                @for (data of feature.description; track $index) {
                  <li>{{ data }}</li>
                }
              </ul>
            </div>
          </div>
        }
      </div>
    </app-section-block>
    <app-section-block [id]="tabs[5]" type="primary">
      <h2>Results:</h2>
      <ul>
        @for (result of selectedProduct.result; track $index) {
          <li>{{ result }}</li>
        }
      </ul>
    </app-section-block>
  </div>
}
