.footer {
  background-color: #071322;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  bottom: 0;
  z-index: 1000;
  display: flex;
  font-size: 2rem;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  .links {
    display: flex;
    gap: 2rem;
    link:visited {
      text-decoration: none;
      color: red;
    }
  }
}
