.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--background-color);

  .container {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  .homeButton {
    margin-right: 1em;
    a {
      font-size: clamp(0.75rem, 5vw, 1.5rem);
      font-weight: bold;
      color: var(--background-color);
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
    }
    .mobile {
      display: none;
    }

    @media (max-width: 500px) {
      .desktop {
        display: none;
      }
      .mobile {
        display: inline;
      }
    }
  }

  .nav {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      gap: 1rem;
    }

    .nav-dropdown {
      position: relative;
      display: flex;
      .arrow {
        width: fit-content;
        font-size: 0.7rem;
        transition: transform 0.3s;
        display: inline-block;
      }

      .arrow.rotate {
        transform: rotate(180deg);
      }

      .dropdown {
        position: absolute;
        top: 1rem;
        background-color: var(--primary-color);
        color: var(--background-color);
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        list-style: none;
        padding: 0.5rem 0;
        z-index: 1000;
        animation: fadeIn 0.2s;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .dropdown-item {
        padding: 0.75rem 1.5rem;
        display: block;
        text-decoration: none;
        transition: background-color 0.2s;
      }

      .dropdown-item:hover {
        color: var(--secondary-color);
      }
    }

    a {
      font-size: clamp(0.75rem, 4vw, 1rem);

      color: var(--background-color);
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;
      position: relative;
      cursor: pointer;

      &:hover {
        color: var(--secondary-color);
      }

      &.active {
        color: var(--secondary-color);

        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: var(--secondary-color);
        }
      }
    }
  }
}
