.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  // position: ;
  top: 0;
  z-index: 1000;

  .container {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeButton {
    a {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      text-decoration: none;
      cursor: pointer;

      // &:hover {
      //   color: #007bff;
      // }
    }
  }

  .nav {
    display: flex;
    gap: 2rem;

    a {
      color: #666;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;
      position: relative;
      cursor: pointer;

      &:hover {
        color: #007bff;
      }

      &.active {
        color: #007bff;

        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #007bff;
        }
      }
    }
  }
}
