<header class="header">
  <div class="container">
    <div class="homeButton">
      <a routerLink="/">Jake Richardson</a>
    </div>

    <nav class="nav">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      <a
        routerLink="/public/Jake Richardson Resume.pdf"
        routerLinkActive="resume"
        >Resume</a
      >
      <!-- <a routerLink="/about" routerLinkActive="active">About</a> -->
    </nav>
  </div>
</header>
