<header class="header">
  <div class="container">
    <div class="homeButton">
      <a routerLink="/">Jake Richardson</a>
    </div>

    <nav class="nav">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <div
        class="nav-dropdown"
        (keypress)="showDropdown = !showDropdown"
        (click)="showDropdown = !showDropdown"
      >
        <a>
          Portfolio
          <span class="arrow" [class.rotate]="showDropdown">▼</span>
        </a>

        @if (showDropdown) {
          <ul class="dropdown">
            <li>
              <a
                routerLink="/portfolio/goldmine"
                routerLinkActive="active"
                class="dropdown-item"
                >Goldmine</a
              >
            </li>
            <li>
              <a
                routerLink="/portfolio/ultraphone"
                routerLinkActive="active"
                class="dropdown-item"
                >Ultraphone</a
              >
            </li>
            <li>
              <a
                routerLink="/portfolio/steve"
                routerLinkActive="active"
                class="dropdown-item"
                >Steve</a
              >
            </li>
          </ul>
        }
      </div>

      <a routerLink="/resume" routerLinkActive="active">Resume</a>
    </nav>
  </div>
</header>
