body {
  margin: 0;
  background-color: var(--background-color);
}
html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #636b45;
  --secondary-color: #aabb8f;
  --accent-color: #fff4c7;
  --background-color: #fffef6;
}
