body {
  margin: 0;
  background-color: var(--background-color);
}
html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #636b45;
  --secondary-color: #aabb8f;
  --accent-color: #fff4c7;
  --background-color: #fffef6;

  //font sizes
  --header-font-size: clamp(2.5rem, 7vw, 4rem);
  --sub-header-font-size: clamp(0.5rem, 7vw, 3rem);
  --avg-font-size: clamp(0.25rem, 5vw, 2rem);
}
