.container {
  max-width: 100%;
  margin: 0 auto;
  height: 400px;
  overflow-x: hidden;
  position: relative;
  color: var(--primary-color);

  @media (max-width: 768px) {
    height: 300px;
  }
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.gallery-wrapper:hover .nav-button {
  opacity: 1;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  border-radius: 9999px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;
}

.nav-button:hover {
  background: white;
}

.nav-button.left {
  left: 1rem;
}

.nav-button.right {
  right: 1rem;
}

.nav-button svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #1f2937;
}

.scroll-container {
  display: flex;
  gap: 1rem;
  scrollbar-width: none;
  border-radius: 0.5rem;

  //animation
  position: absolute;
  left: 0;
  animation-name: scroll;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  //move 50% to the left
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.image-card {
  flex-shrink: 0;
  width: 400px;
  height: 300px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.2s;

  @media (max-width: 768px) {
    height: 150px;
    width: 200px;
  }
}

.image-card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  padding: 1rem;
}

.image-title {
  color: white;
  font-weight: 600;
  margin: 0;
}
