<div class="container">
  <h2 class="title">{{ title }}</h2>

  <!-- Left Arrow -->
  <button
    (click)="scroll('left')"
    class="nav-button left"
    aria-label="Scroll left"
  >
    <!-- //replace -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
  </button>

  <!-- Scrollable Container -->
  <div
    #scrollContainer
    class="scroll-container"
    [style.animation-delay]="randomOffset"
  >
    @for ( image of duplicatedImages; track image.title){
    <div class="image-card">
      <img [src]="image.url" [alt]="image.title" class="image" />
      <div class="image-overlay">
        <h3 class="image-title">{{ image.title }}</h3>
      </div>
    </div>

    }
  </div>

  <!-- Right Arrow -->
  <button
    (click)="scroll('right')"
    class="nav-button right"
    aria-label="Scroll right"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </button>
</div>
